/DE DAG.txt
/Reports
/Code/.venv

# Ignore everything in Projecten
Projecten/*

# But keep these subfolders
!Projecten/dummy1/
!Projecten/dummy2/

# And keep their contents
!Projecten/dummy1/**
!Projecten/dummy2/**
*.pyc
